.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container {
  position: relative;
}

canvas, img, .opening {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 26%;
  border: 3px dotted #0000a5;
  margin-bottom: 25px;
  /*background: url('http://res.cloudinary.com/beebeean09/image/upload/v1490922798/cloudy-sky-cartoon-drawshop-royalty-free-cartoon-vector-stoc-iId75M-clipart_sygpj5.jpg');*/
}

body {

  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;

  background: #27afdf;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 101px 14px;
}

h1 {
  font-family: 'Wendy One', sans-serif;
  font-size: 47px;
  text-align: center;
  color: #ffe609;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  margin: 3px 0;
}

.instructions, p {
  font-family: 'Signika', sans-serif;  width: 700;
  width: 200px;
  border: 1px solid black;
  background: ghostwhite;
  margin: 10px 0;
  padding: 17px;
  text-align: center;
  border-radius: 7px;
  justify-content: center;
  /*height: 147px;*/
  /*display: flex;*/
}

#score {
  display: flex;
  font-family: 'Signika', sans-serif;
  width: 700;
  font-size: 100px;
  height: auto;
  border: 1px solid black;
  border-radius: 7px;
  width: 700px;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
}

.start-control, .restart-control {

}

.start-button, .restart-button {
  width: 174px;
  height: 33px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 17px;
  margin: 7px 0;
  background: #ff9886;
  cursor: pointer;
  color: floralwhite;
}

.canvas-relative {
  position: relative;
}

.canvas-flex {
  display: flex;
}

.score-flex {
  margin-top: 425px;
}

.right  {
  font-family: 'Signika', sans-serif;  width: 700;
  height: 92px;
  width: 200px;
  /*border: 1px solid black;*/
  /*background: ghostwhite;*/
  margin: 85px 22px;
  padding: 17px;
  text-align: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  height: 0;
  width: 0;
  border: 0 solid black;
  background: ghostwhite;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
