.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container {
  position: relative;
}

canvas, img {
  position: absolute;
  display: flex;
  align-items: center;
  /*background: url('http://res.cloudinary.com/beebeean09/image/upload/v1490922798/cloudy-sky-cartoon-drawshop-royalty-free-cartoon-vector-stoc-iId75M-clipart_sygpj5.jpg');*/

  top: 0;
  left: 26%;
  border: 3px dotted #0000a5;
  margin-bottom: 25px;
}

body {

  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: row;
  height: 100%;
  /*background: url('http://res.cloudinary.com/beebeean09/image/upload/v1490922798/cloudy-sky-cartoon-drawshop-royalty-free-cartoon-vector-stoc-iId75M-clipart_sygpj5.jpg');*/

  background: #27afdf;
}

.left {
  margin: 91px 14px;
}

h1 {
  /*position: absolute;*/
  font-family: 'Wendy One', sans-serif;
  font-size: 47px;
  text-align: center;
  color: #ffe609;
  text-transform: uppercase;
}

p {
  display: flex;
  font-family: 'Signika', sans-serif;  width: 700;
  height: 147px;
  width: 200px;
  border: 1px solid black;
  background: ghostwhite;
  margin: 23px 0;
  padding: 17px;
  text-align: center;
  border-radius: 7px;
}

#score {
  display: flex;
  font-family: 'Signika', sans-serif;  width: 700;
  font-size: 150px;
  border: 1px solid black;
  border-radius: 7px;
  width: 700px;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
}

.start-control, .restart-control {
  /*display: flex;*/
  /*font-family: 'Signika', sans-serif;  width: 700;
  height: 50px;
  width: 200px;
  border: 1px solid black;
  background: ghostwhite;
  margin: 110px 14px;
  padding: 17px;
  text-align: center;
  border-radius: 7px;*/
}

.start-button, .restart-button {
  width: 174px;
  height: 33px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 17px;
  margin: 7px 0;
  background: #ff9886;
  cursor: pointer;
  color: floralwhite;
}

.canvas-relative {
  position: relative;
}

.canvas-flex {
  display: flex;
}

.score-flex {
  margin-top: 425px;
}

.controls {
  font-family: 'Signika', sans-serif;  width: 700;
  height: 92px;
  width: 200px;
  border: 1px solid black;
  background: ghostwhite;
  margin: 110px 14px;
  padding: 17px;
  text-align: center;
  border-radius: 7px;
}
